<div style="position: relative;">
    <object data="https://sagot.dev/js_logo_rond.svg" type="image/svg+xml" style="position:absolute;left:18rem;width:6rem;"></object>
    <div><b>Jules SAGOT</b></div>
    <div>Développeur Fullstack</div>
    <br/><br/>
    <div>Tel: <a href="tel:+33781898741">+33 (0)7 81 89 87 41</a></div>
    <div>Courriel: <a href="mailto:jules@sagot.dev">jules@sagot.dev</a></div>
    <div>Blog: <a href="https://sagot.dev/articles">sagot.dev</a></div>
    <div>44980 Sainte Luce sur Loire</div>
</div>
