<div style="display: flex;">
    <iframe src='https://pouet.chapril.org/@sagotgej/{{ .Get "toot_id" }}/embed' class="mastodon-embed" style="max-width: 100%; border: 0;margin: auto;" width="600" allowfullscreen="allowfullscreen"></iframe>
    <script src="https://pouet.chapril.org/embed.js" async="async"></script>
</div>
